@include breakpoint-set("to ems", true);


$purplish: rgba(128, 0, 128, 0.25);

$gold-diamond: rgba(171, 147, 116, 0.8);
$gold: rgb(220, 204, 157);
$gold-medium: rgb(170,145,69);
$gold-dark: rgb(134, 114, 54);

$white-slight-dark: rgb(249, 250, 251);

$grey-light-1: #f0eeee;
$grey-light-2: #ccc;
$grey-dark-1: rgb(53, 49, 49); // slight saturation added
$grey-dark-2: rgb(122, 117, 117); // slight saturation added
$grey-dark-3: rgb(155, 151, 151); // slight saturation added
$grey-testimonial: rgba(224, 224, 224, 0.3);


$hugest: 1300px;
$huge: 1170px;
$largest: 1120px;
$large: 980px;
$medium: 840px;
$medium-760: 760px;
$medium-small: 700px;
$small: 560px;
$smallest: 450px;
$tiny: 369px;




